body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Titulo{
    font-style: oblique;
}

.Fonte{
    color: rgb(19, 17, 17);
}
h1{
    background-image: url(../Arquivos/Arquivos/img/sobre-background.jpg);
    border-bottom: 4px solid #333333;

}
h2{
        border-bottom: 4px solid #333333;
}

p{
    line-height: 20px; /* tamanho da altura de cada
    linha */
    text-indent: 30px; /* paragrafo */
}
figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    }
    figcaption {
    font-style: italic;
    }
    